<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--发布服务,可通过Hessian远程调用MovieService接口-->
    <bean name="/MovieService" class="org.springframework.remoting.caucho.HessianServiceExporter">
        <property name="service" ref="movieServiceImpl"/>
        <property name="serviceInterface" value="com.cqs.demo.models.douban.service.MovieService"/>
    </bean>

</beans>